@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
    margin: 0px;
    font-family: 'Jeju Gothic', sans-serif;
}

nav {
    margin-top: 70px;
}

.container-fluid {
    width: 840px;
    margin: auto;
}

nav:after {
        content: "";
        display: block;
        width: 960px;
        border-bottom: 1px solid #bcbcbc;
        margin: 20px auto 0px auto;
}


/*------------index page------------*/
/* navigator */

nav .vertical-align {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none !important;
    color: black;
}

.category {
    font-size: 13pt;
    
    display: inline;
    float: right;
}

.logo {
    font-size: 36pt;
    font-weight: bold;
    
    display: inline;
}

.first-menu, .second-menu, .third-menu {
    float: right;
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

/* header */
.mypage {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    
    margin-top: 50px;
}

.mypage:after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 2px solid black;
    margin: 20px auto 40px auto;
}

/* table */

table {
    border-collapse: collapse;
    width: 100%;
    
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table:after {
    content: "";
    display: block;
    width: 960px;
    border-bottom: 1px solid #bcbcbc;
    margin: 20px auto 0px auto;
}

/* footer */

footer .vertical-align {
    display: flex;
    align-items: center;
}

footer {
    text-align: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

footer p {
    margin: 0px;
}
