@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:900");

body {
    margin: 0px;
    font-family: 'Jeju Gothic', sans-serif;
}

nav {
    margin-top: 70px;
}

.container-fluid {
    width: 840px;
    margin: auto;
}

nav:after {
        content: "";
        display: block;
        width: 960px;
        border-bottom: 1px solid #bcbcbc;
        margin: 20px auto 0px auto;
}


/*------------index page------------*/
/* navigator */

nav .vertical-align {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none !important;
    color: black;
}

.category {
    font-size: 13pt;
    
    display: inline;
    float: right;
}

.logo {
    font-size: 36pt;
    font-weight: bold;
    
    display: inline;
}

.first-menu, .second-menu, .third-menu {
    float: right;
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

/* header */

.head-info {
  padding: 0;
}

.head-info .col-xs-8 {
  padding: 0;
}


.restaurant-title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    
    margin: 50px auto 40px auto;
    float: left;
    padding: 0;
}

.before-title:before {
        content: "";
        display: block;
        width: 60px;
        border-bottom: 5px solid #333;
        margin: 60px 0px 50px auto;
        
        padding: 0;
        float: right;
}
/*.restaurant-title:after {
        content: "";
        display: block;
        width: 50px;
        border-bottom: 2px solid black;
        margin: 20px auto 40px auto;
}*/

.detail-introduce {
  color: #FF9EA1;
  margin-top: 50px;
  font-size :18px;
  font-weight: lighter;
  text-align: left;
  
  float: left;
}

/* image slider */
.item img {
  height: 450px !important;
  margin: auto !important;
}

.carousel-control {
  color: black;
}

.carousel-inner a {
  background-image: none !important;
}

/* detail-info */

.detail-info {
  margin: 50px 0px 0px 0px;
}

.first-info {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  
  background-color: #AEE6AB;
  margin: auto;
}

.first-info .col-xs-4{
  text-align: center;
}

.remain-seats {
  font-size: 36px;
  font-weight: bold;
  
  position: relative;
  right: -40px;
  bottom: -50px;
}

.partition {
  font-size: 64px;
  font-weight: lighter;
  
  position: relative;
  bottom: -70px;
}

.total-seats {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  left: -40px;
  bottom: -130px;
}

.second-info {
  text-align: center;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    
    background-color: #F67E4D;
    margin: auto;
}

.second-info .col-xs-4 {
  padding: 0;
}

.chair {
  margin-top: 70px;
  margin-left: 30px;
}

.multiply {
  margin-top: 90px;
  font-size: 36px;
  font-weight: bold;
  width: 30px;
}

.group-size {
  margin-top: 90px;
  font-size: 36px;
  font-weight: bold;
}

.third-info {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  
    width: 220px;
    height: 220px;
    border-radius: 50%;
    
    background-color: #9CC8DB;
    margin: auto;
}

.phone-number{
  position: relative;
  bottom: -95px;
}

.first-info-title, .second-info-title, .third-info-title {
  font-size: 18px;
}

/* store-comments */

.comment-start {
  font-size: 18px;
  text-align: center;
  
  margin-top: 50px;
}

.comment-start:after {
        content: "";
        display: block;
        width: 50px;
        border-bottom: 1px solid black;
        margin: 20px auto 20px auto;
}

.store-comments:after {
        content: "";
        display: block;
        width: 960px;
        border-bottom: 1px solid #bcbcbc;
        margin: 50px auto 0px auto;
}

.input-comment {
  text-align: center;
}

.input-comment .col-xs-2{
  float: left;
}

.comments-list table {
    border-collapse: collapse;
    width: 100%;
}

.comments-list td {
  margin-bottom: 10px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.comments-list tr:hover {background-color:#f5f5f5;}

.store-comments .col-xs-8 {
  margin-bottom: 20px;
}