<% @stores.each do |store| %>
  가게 이름 : <%= store.store_name%> /가게 Use ID :  <%= store.user_id %> /가게 위치 : <%= store.store_address%>
  <a href='/list/userDestroy/<%= store.id %>'>매장삭제</a><br>
<%end%>
  
  