<link rel="stylesheet" type="text/css" href="/assets/findStores_style.css">

<nav>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-3 logo">
        ABLETABLE
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-5 category">
        <a href="#" class="first-menu">log in</a>
        <a href="#" class="second-menu">contact us</a>
        <a href="#" class="third-menu">menu</a>
      </div>
    </div>
  </div>
</nav>
<header>
  <div class="container-fluid">
    <div class="row map-api">
      <!-- map api 추가해야 합니다 -->
      map api
    </div>
  </div>
</header>
<div class="search-result">
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-4"></div>
      <div class="col-xs-4 result-title">
        <!-- 검색된 역이름 가져와야 합니당 -->
        <div class="station-title">온수역</div>
      </div>
      <div class="col-xs-4"></div>
    </div>
    <!-- each문이 들어가야 합니당 -->
    <div class="row vertical-align">
	    <% @stores.each do |s| %>
	      <div class="col-xs-4">
    	    <div class="one-restaurant">
    	        <div class="result-pick"></div>
    	    </div>
    	    <div class="row vertical-align restaurant-name">
    	      <div class="col-xs-4 restaurant">
    	        <a href="/home/restaurant_info"><%= s.store_name %></p>
    	      </div>
    	    </div>
    	   </div>
      <% end %>
    </div>
    <!-- 여만큼이요 -->
  </div>
</div>
<footer>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <p>Copyright &copy; 2018 Likelion at SKHU</p>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</footer>