<link rel="stylesheet" type="text/css" href="/assets/findStoreInfo_style.css">

<nav>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-3 logo">
          ABLETABLE
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-5 category">
        <a href="#" class="first-menu">log in</a>
        <a href="#" class="second-menu">contact us</a>
        <a href="#" class="third-menu">menu</a>
      </div>
    </div>
  </div>
</nav>
<header>
  <div class="head-info">
    <div class="container-fluid">
      <div class="row vertical-align">
        <div class="col-xs-4 title">
          <div class="row vertical-align">
            <div class="col-xs-4 before-title"></div>
            <div class="col-xs-8">
              <!-- 선택한 가게이름 가져와야 합니당 -->
              <div class="restaurant-title">호치킨</div>
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <!-- 매장주가 입력한 한줄소개 -->
          <div class="detail-introduce">온수역에서 간장치킨 제일 맛있는 곳<br>크리스피 치킨에 생맥주가 너무너무 맛있어요</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <ul class="carousel my-carousel carousel--thumb">
      <input class="carousel__activator" type="radio" id="K" name="thumb" checked="checked"/>
      <input class="carousel__activator" type="radio" id="L" name="thumb"/>
      <input class="carousel__activator" type="radio" id="M" name="thumb"/>
      <input class="carousel__activator" type="radio" id="N" name="thumb"/>
      <input class="carousel__activator" type="radio" id="O" name="thumb"/>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="O"></label>
        <label class="carousel__control carousel__control--forward" for="L"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="K"></label>
        <label class="carousel__control carousel__control--forward" for="M"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="L"></label>
        <label class="carousel__control carousel__control--forward" for="N"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="M"></label>
        <label class="carousel__control carousel__control--forward" for="O"></label>
      </div>
      <div class="carousel__controls">
        <label class="carousel__control carousel__control--backward" for="N"></label>
        <label class="carousel__control carousel__control--forward" for="K"></label>
      </div>
      <li class="carousel__slide">
        <h1>K</h1>
      </li>
      <li class="carousel__slide">
        <h1>L</h1>
      </li>
      <li class="carousel__slide">
        <h1>M</h1>
      </li>
      <li class="carousel__slide">
        <h1>N</h1>
      </li>
      <li class="carousel__slide">
        <h1>O</h1>
      </li>
      <div class="carousel__indicators">
        <label class="carousel__indicator" for="K"></label>
        <label class="carousel__indicator" for="L"></label>
        <label class="carousel__indicator" for="M"></label>
        <label class="carousel__indicator" for="N"></label>
        <label class="carousel__indicator" for="O"></label>
      </div>
    </ul>
  </div>
</header>
<div class="detail-info">
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-4">
        <div class="first-info-title">잔여<br>좌석수</div>
      </div>
      <div class="col-xs-4">
        <div class="second-info-title">단체석</div>
      </div>
      <div class="col-xs-4">
        <div class="third-info-title">전화번호</div>
      </div>
    </div>
    <div class="row vertical-align">
      <div class="col-xs-4">
        <div class="first-info">
          <div class="row vertical-align">
            <div class="col-xs-4 remain-seats">2</div>
            <div class="col-xs-4 partition">/</div>
            <div class="col-xs-4 total-seats">10</div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="second-info">
          <div class="row vertical-align">
            <div class="col-xs-4 chair"><img src="https://image.flaticon.com/icons/svg/115/115352.svg"></div>
            <div class="col-xs-4 multiply">X</div>
            <div class="col-xs-4 group-size">100</div>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="third-info">
          <div class="phone-number">010-0000-0000</div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <p>Copyright &copy; 2018 Likelion at SKHU</p>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</footer>