<link rel="stylesheet" type="text/css" href="/assets/findOneStation_style.css">

<nav>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-3 logo">
        ABLETABLE
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-5 category">
        <a href="#" class="first-menu">log in</a>
        <a href="#" class="second-menu">contact us</a>
        <a href="#" class="third-menu">menu</a>
      </div>
    </div>
  </div>
</nav>
<header>
  <div class="container-fluid">
    <div class="row vertical-align background">
      <div class="col-xs-2"></div>
      <div class="col-xs-8 header-contents">
        <div class="head-line">
          <p class="first-header">집 앞, 학교 앞, 핫플레이스</p>
          <p class="second-header">실시간 음식점 좌석 현황</p>
            <form action="/list/findStores" method="get">
              <div class="row vertical-align search">
                <div class="col-xs-3"></div>
                <div class="col-xs-6 search-form">
                  <input type="search" class="form-control main-search" name='search' placeholder="역명을 정확하게 입력해주세요">
                </div>
              <div class="col-xs-3"></div>
              </div>
              <div class="row vertical-align search">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-link">검색하기</button>
                </div>
              <div class="col-xs-4"></div>
              </div>
            </form>
        </div>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</header>
<div class="service-introduce">
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-6">
        <div class="introduce-title">
          <p class="first-title">우리의</p>
          <p class="second-title">서비스 소개</p>
        </div>
        <div class="introduce-content">
          <p>서비스 소개 내용이 여기에<br>
          이렇게 들어가게 될 것 입니다.<br>
          우리 서비스가 무어냐<br>
          세네줄은 써야해요 생각해봅시다.<br>
          글만 들어가니까 생각보다 허전하네<br>
          사진 넣으면 난잡하던데<br>
          </p>
        </div>
      </div>
      <div class="col-xs-6"></div>
    </div>
  </div>
</div>
<div class="team-introduce">
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-4"></div>
      <div class="col-xs-4 team-title">
        <div class="first-team-title">who we are</div>
        <div class="second-team-title">we are ABLE</div>
      </div>
      <div class="col-xs-4"></div>
    </div>
    <div class="row vertical-align">
      <div class="col-xs-4">
        <div class="first-member">BE</div>
      </div>
      <div class="col-xs-4">
        <div class="second-member">BE</div>
      </div>
      <div class="col-xs-4">
        <div class="third-member">FE</div>
      </div>
    </div>
    <div class="row vertical-align member-name">
      <div class="col-xs-4 jy">
        <p>서지용</p>
      </div>
      <div class="col-xs-4 mg">
        <p>조민국</p>
      </div>
      <div class="col-xs-4 sy">
        <p>이서영</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <p>Copyright &copy; 2018 Likelion at SKHU</p>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</footer>