<link rel="stylesheet" type="text/css" href="/assets/storeMyPage_style.css">

<nav>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-3 logo">
        ABLETABLE
      </div>
      <div class="col-xs-4"></div>
      <div class="col-xs-5 category">
        <a href="#" class="first-menu">log in</a>
        <a href="#" class="second-menu">contact us</a>
        <a href="#" class="third-menu">menu</a>
      </div>
    </div>
  </div>
</nav>
<header>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <div class="mypage">MyPage</div>
      </div>
      <div class="col-xs-4"></div>
  </div>
</header>
<div class="container-fluid">
  <div class="store-info">
    <input type="text" class="form-control store_name" name='store_name' placeholder="매장 이름">
    <input type="text" class="form-control store_infomation" name='store_information' placeholder="매장 소개">
    <input type="text" class="form-control store_address" name='store_address' placeholder="매장 주소">
    <input type="image" class="form-control store_img" name='store_img' placeholder="대표 이미지">
    <input type="image" class="form-control store_menu" name='store_menu' placeholder="매장내부, 메뉴판 이미지">
    <input type="text" class="form-control store_group" name='store_group' placeholder="단체석">
    <input type="tel" class="form-control store_contact" name='store_contact' placeholder="매장 전화번호">
    
    <div class="row vertical-align">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <button type="submit" class="btn btn-edit">수정하기</button>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid">
    <div class="row vertical-align">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <p>Copyright &copy; 2018 Likelion at SKHU</p>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</footer>