<form action = '/list/storeCreate' method='post' enctype='multipart/form-data'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>가게이름 : <input type='text' name='storeName' /></p>
  <p>가게 대표사진 : <input type='file' name='storeImg' accept="image/*" /></p>
  <p>메뉴사진 1 : <input type='file' name='storeMenuImg1' accept="image/*" /></p>
  <p>메뉴사진 2 : <input type='file' name='storeMenuImg2' accept="image/*" /></p>
  <p>메뉴사진 3 : <input type='file' name='storeMenuImg3' accept="image/*" /></p>
  <p>가게 설명 : <input type='text' name='storeInformation' /></p>
  <p>가게 전화번호 : <input type='text' name='storeContact' /></p>
  <p>단체석 보유수 : <input type='text' name='storeGroup' /></p>
  <p>현재 좌석수 : <input type='text' name='storeSeatCount' /></p>
  <p>전체 좌석수 : <input type='text' name='storeSeatTotal' /></p>
  <p>가게 주소 : <input type='text' name='storeAddress' /></p>
  <select name='storeStation'>
    <% @stations.each do  |station|%>
      <option value= <%= station.id %> > <%= station.station_name %> </option>
    <%end%>  
  </select>

  <p><input type='submit' value='가게등록' /></p>
</form>

