
<h2>전체 가게 자리 갯수 : </h2><%= @store.store_seat_total %> / <%= @store.store_seat_count%><br>

<h2>자리 1 증가시켜주기</h2>
<a href='/list/storeSeatCountPlus'>+1</a><br>
<h2>자리 1 감소시켜주기</h2>
<a href='/list/storeSeatCountMinus'>-1</a>